/* book.css */

/* Styles for the container div */
.Book {
  /* max-width: 400px; */
  height: 700px;
  margin: 0 auto;
}

/* Styles for the heading inside the Calendly widget */
.calendly-inline-widget h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}
